.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
  background-color: gainsboro;
}

.canvas:active {
  cursor: grabbing;
}

/* Disable hover effects while dragging */
.canvas:active * {
  pointer-events: none !important;
}

.panContainer {
  will-change: transform;
}
